.default-tile{
    -fx-background-color:  #5687f0;
}

.logout-tile{
    -fx-background-color:  #F2163B;
}

.title-bar{
    -fx-background-color:  #666;
}

.title-bar text,label{
    -fx-text-fill: white;
    -fx-font: 24px sans-serif;
}

.icon{
    -fx-font-family: FontAwesome;
}

.tile .icon{
    -fx-font-size: 85px;
}

.white{
    -fx-background-color: white;
}

.tile:hover{
    -fx-cursor: hand;
}