#loginStatusLabel {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}


.item-management-tile {
    -fx-background-color:  #5687f0;
}

.import-excel-tile {
    -fx-background-color: #217346;
}

.loan-management-tile {
    -fx-background-color: #D91E18;
}

.user-management-tile {
    -fx-background-color: #F89406;
}

.item-management-tile:hover {
    -fx-background-color: derive(#5687f0, 15%);
    -fx-effect: dropshadow(gaussian, derive(#5687f0, 15%), 10, 0.001, 0, 0);
}

.import-excel-tile:hover {
    -fx-background-color: derive(#217346, 15%);
    -fx-effect: dropshadow(gaussian, derive(#217346, 15%), 10, 0.001, 0, 0);
}

.loan-management-tile:hover {
    -fx-background-color: derive(#D91E18, 15%);
    -fx-effect: dropshadow(gaussian, derive(#D91E18, 15%), 10, 0.001, 0, 0);
}

.user-management-tile:hover {
    -fx-background-color: derive(#F89406, 15%);
    -fx-effect: dropshadow(gaussian, derive(#F89406, 15%), 10, 0.001, 0, 0);
}

.title-bar{
    -fx-background-color:  #99C938;
}

.bold{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.normal {
    -fx-text-fill: #333;
}

#item-title {
    -fx-font-size: 18px;
}

.title-bar text,label{

    -fx-text-fill: white;
}

.tile .icon{
    -fx-font-size: 85px;
}

.title-bar .icon{
    -fx-font-size: 55px;
}

.tile {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.white{
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.centerGlow {
    //-fx-background-size: cover;
    //-fx-background-position: center;
    //-fx-background-color: radial-gradient(center 50% 50%, radius 300px, gray, transparent);

    //-fx-padding: 40;
    //-fx-background-color:  radial-gradient(center 50% 50%, radius 50%, rgba(255,255,255,100) 25%,transparent 10%);
}

.lettertuinBg{
    -fx-background-image: url(/resources/gui/img/lettertuin_bg.png);
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
}

.tile:hover, .clickable:hover{
    -fx-cursor: hand;
}

/* ############ BUTTON STYLING ############ */

.btn, .date-picker:editable .arrow-button {
    -fx-background: none;
    //-fx-border: none;
    -fx-font-weight: bold;
    -fx-border-radius: none;
    -fx-background-radius: none;
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-color: transparent;
}

.btn-small {
    -fx-background: none;
    -fx-border: none;
    -fx-border-radius: none;
    -fx-background-radius: none;
    -fx-font-size: 13px;
    -fx-text-fill: #FFFFFF;
}

.btn-toolIcon {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 27px;
    -fx-padding: 0px 0px 0px 0px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-alignment: center;
    -fx-text-origin: top;
    -fx-cursor: hand;
}

.warning{
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
    -fx-font-size: 15px;
}

.btn-toolIcon:hover {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #DEDEDE;
    -fx-background-color: #FAFAFA;
    -fx-border-radius: 2px;
}

.btn-toolIcon:armed{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #DEDEDE;
    -fx-background-color: #D8D8D8;
    -fx-border-radius: 2px;
}

.btn-blue {
    -fx-background-color: #0A5BC4;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #236CCA
}

.btn-blue:hover {
    -fx-background-color: derive(#0A5BC4, 15%);
    -fx-border-color: derive(#0A5BC4, 15%);
}

.btn-green {
    -fx-background-color: #339933;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #308C30;
}

.btn-green:hover {
    -fx-background-color: derive(#339933, 15%);
}

.btn-lime, .date-picker:editable .arrow-button {
    -fx-background-color: derive(#99C938, -5%);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: derive(#99C938, 5%);
}

.btn-lime:hover, .date-picker:editable .arrow-button:hover {
    -fx-background-color: derive(#99C938, 15%);
    -fx-border-color: derive(#99C938, 15%);
}

.btn-red {
    -fx-background-color: #E51400;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #D11402;
}

.btn-red:hover {
    -fx-background-color: derive(#E51400, 15%);
    -fx-border-color: derive(#E51400, 15%);
}

.btn-default {
    -fx-background-color: derive(#7A7A7A, -5%);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #7A7A7A;
}

.btn-default:hover {
    -fx-background-color: derive(#7A7A7A, 15%);
    -fx-border-color: derive(#7A7A7A, 15%);
}

.item-btn {
    -fx-cursor: hand;
    -fx-background-color: #3f88c3;
}

.item-btn:hover {
    -fx-background-color: #217346;
}

.item-btn:armed {
    -fx-background-color: derive(#217346, -10%);
}

.item-btn-selected {
    -fx-background-color: rgb(153,201,56);
    -fx-effect: dropshadow(gaussian, rgb(153,201,56), 4, 0, 0, 0);
}

.text-green {
    -fx-text-fill: #339933;
}

.text-red {
    -fx-text-fill: #E51400;
}

/* ############ TEXTFIELD STYLING ############ */
.text-input, .date-picker:editable, .text-field {
    -fx-focus-color: transparent;
    -fx-border-color: #90CC18;
    -fx-border-width: 1px;
}

.text-input:focused:not(.date-picker:editable > .text-field) {
    -fx-border-width: 2px;
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

.date-picker:editable:focused, .date-picker:editable:contains-focus {
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-border-width: 1px;
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

/* ############ DATE PICKER STYLING ############ */
/*.date-picker-popup > .calendar-grid {
    -fx-background-color: #99C938;
    -fx-background-insets: 1 0 0 0;
    -fx-padding: 0;
}*/

.date-picker-popup > * > .today {
    -fx-background-color: #99C938;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: #99C938;
}

.date-picker-popup {
    -fx-background-color: #99C938;
}

/* ############ TAB STYLING ############ */


.tab-pane {
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1px;
}
.tab-pane .tab-header-area .tab-header-background {
    //-fx-opacity: 0;
}

.tab-pane:top *.tab-header-area {
    //-fx-background-insets: 0 0 0 1 0;
    -fx-padding: 0.416667em 0em 0em 0em;
}

.tab-pane .tab
{
    -fx-background-color: #C1CFA5;
    //-fx-background-insets: 0, 0, 1, 2;
}

.tab-pane .tab:selected
{
    -fx-background-color: #99C938;
    -fx-focus-color: 0;
}

.tab{
    -fx-background-insets: 0 3 0 0;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab-bg-lime {
    /*-fx-background-color: #C5D1AB;*/
}

/* ############ BOX STYLING ############ */

.list-cell:selected {
    -fx-text-fill: #333;
    -fx-background-color: derive(rgb(153,201,56), 80%);
}

.list-item-selected,.list-item-selected Text, .list-item-selected text, .list-item-selected label {
    -fx-text-fill: #333;
}

.custom-text-field {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 3 5 3 5;
    -fx-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
    -fx-focus-color: transparent;
    -fx-border-color: #90CC18;
    -fx-border-width: 1px;
    -fx-background-radius: 0px;
}

.custom-text-field .text-input {
    -fx-focus-color: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
    -fx-border-width: 0px;
    -fx-background-radius: 0px;
}

/* ############ ICONS ############ */

.icon {
    -fx-font-family: "FontAwesome"; 
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 0 15px;
}

.icon:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.icon-voorwerpen-beheren {
    -fx-font-family: "FontAwesome";
}

.icon-uitleningen-beheren {
    -fx-font-family: "FontAwesome";
}

.icon-gebruikers-beheren {
    -fx-font-family: "FontAwesome";
}

.icon-excel-importeren {
    -fx-font-family: "FontAwesome";
}

.icon-search {
    -fx-font-family: "FontAwesome";
}

.icon-home {
    -fx-font-family: "FontAwesome";
}

.icon-settings {
    -fx-font-family: "FontAwesome";
}

.icon-close {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "FontAwesome";
    -fx-text-fill: #FA3E48;
    -fx-background-color: transparent;
    -fx-border-style: null;
    -fx-border-width: 0px;
    -fx-padding: 0 0 0 0;
}

.icon-close:hover {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "FontAwesome";
    -fx-text-fill: derive(#FA3E48, 30%);
    -fx-background-color: transparent;
    -fx-border-style: null;
    -fx-border-width: 0px;
}

.hand {
    -fx-cursor: hand;
}

.excel-entry {
    -fx-background-color: -fx-control-inner-background;
    -fx-effect: dropshadow(gaussian, #666, 10, 0.001, 0, 0);
}

.transparent-scrollpane, .transparent-scrollpane .viewport {
    -fx-focus-traversable: false;
    -fx-background-color: transparent;
}

.choice-box {
    -fx-background-color: white;
    -fx-border-color: #90CC18;
    -fx-border-width: 1px;
}
